* {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

.canvas-config {
  position: absolute;
  top: 5%;
}

footer {
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto auto;
  position: absolute;
  bottom: 1.2%;
}

.footer-elements {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.container-section {
  display: flex;
  flex-flow: row wrap;
  height: 90vh;
  justify-content: center;
  align-items: center;
  background-color: #2196f3;
}
.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0;
  font-size: 10px;
}
